.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.rightbarImageConatainer{
    margin-right: 10px;
    position: relative;
}
.rightbarProfileImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

}
.rightbarOnlineBadge{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
}
.rightbarUserName{
    font-weight: 500;
}
